@font-face {
  font-family: "Pokemon";
  src: url("./fonts/pokemon_solid-webfont.woff2") format("woff2"),
    url("./fonts/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
